@import url("https://fonts.googleapis.com/css?family=Exo+2:400");


body {
   font-family: 'Exo 2', sans-serif;

}

.schedulePage {
    background-image: url("./PREDSS.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh
}

.scheduleCard {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.schedule{
    display: flex;
    justify-content: center;
    width: 400px;
   font-family: 'Exo 2', sans-serif;

}


.listingHeader{

    display: flex;
    justify-content: center;
   font-family: 'Exo 2', sans-serif;
   font-weight: bolder;
}


.Cardtext{
    display: flex;
    justify-content: center;
    padding-top: 10px;

}