@import url("https://fonts.googleapis.com/css?family=Exo+2:400");

body {
   font-family: 'Exo 2', sans-serif;
}

.scheduleCard {
    padding-top: 50px;
}

.schedule{
    display: flex;
    justify-content: center;
    width: 400px;
   font-family: 'Exo 2', sans-serif;

}


.listingHeader{

    display: flex;
    justify-content: center;
   font-family: 'Exo 2', sans-serif;
   font-weight: bolder;
}


.Cardtext{
    display: flex;
    justify-content: center;

}