@import url("https://fonts.googleapis.com/css?family=Rubiks");


body {
   font-family: 'Exo 2', sans-serif;

}

.schedulePage {
    background-color: #041E42;
}

.scheduleCard {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.schedule{
    display: flex;
    justify-content: center;
    width: 400px;
   font-family: 'Rubik', sans-serif;

}

@media (min-width: 50px){
    .schedule{
        width: 250px;
    }
}
.listingHeader{

    display: flex;
    justify-content: center;
   font-family: 'Rubik', sans-serif;
   font-weight: bolder;
}


.Cardtext{
    display: flex;
    justify-content: center;
    padding-top: 10px;

}