/* @import url("https://fonts.googleapis.com/css?family=Rubik");

body {
   /* font-family: 'Rubik', sans-serif; */
/* } */

.listingcard {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;


}

.card-columns {
    column-count: 3 !important;
}

.ticketListingCard{
    width: 400px ;
   padding-top: 5px;
  border:  2px solid rgba(0, 0, 0, 0.308) !important;
  border-radius: 15px !important;


}

.cardConatainer{
    padding-bottom: 30px;
    padding-top: 20px;
}

@media only screen and (max-width: 1000px) {
    .ticketListingCard {
        width: 280px !important;
    }
    .card-columns {
        column-count: 3 !important;
    }
}

@media only screen and (max-width: 950px) {
    .ticketListingCard {
        width: 260px !important;
    }
    .card-columns {
        column-count: 3 !important;
    }
}


@media only screen and (max-width: 900px) {
    .ticketListingCard {
        width: 230px !important;
    }
    .card-columns {
        column-count: 3 !important;
    }
}





@media only screen and (max-width: 835px) {
    .ticketListingCard {
        width: 330px !important;
    }
    .card-columns {
        column-count: 2 !important;
    }
}


@media only screen and (max-width: 750px) {
    .ticketListingCard {
        width: 300px !important;
    }
    .card-columns {
        column-count: 2 !important;
    }
}

@media only screen and (max-width: 670px) {
    .ticketListingCard {
        width: 250px !important;
    }
    .card-columns {
        column-count: 2 !important;
    }
}

@media only screen and (max-width: 580px) {
    .ticketListingCard {
        width: 300px !important;
    }
    .card-columns {
        column-count: 1 !important;
    }
}

@media only screen and (max-width: 470px) {
    .ticketListingCard {
        width: 360px !important;
        display: flex;
        justify-content: center;
    }

    .card-columns {
        column-count: 1 !important;
    }


}

@media only screen and (max-width: 427px) {
    .ticketListingCard {
        width: 320px !important;
        display: flex;
        justify-content: center;
    }

    .card-columns {
        column-count: 1 !important;
    }


}

@media only screen and (max-width: 375px) {
    .ticketListingCard {
        width: 300px !important;
        display: flex;
        justify-content: center;
    }

    .card-columns {
        column-count: 1 !important;
    }


}


@media only screen and (max-width: 358px) {
    .ticketListingCard {
        width: 280px !important;
        display: flex;
        justify-content: center;
    }

    .card-columns {
        column-count: 1 !important;
    }


}

@media only screen and (max-width: 345px) {
    .ticketListingCard {
        width: 250px !important;
        display: flex;
        justify-content: center;
    }

    .card-columns {
        column-count: 1 !important;
    }


}

@media only screen and (max-width: 315px) {
    .ticketListingCard {
        width: 230px !important;
        display: flex;
        justify-content: center;
    }

    .card-columns {
        column-count: 1 !important;
    }


}

@media only screen and (max-width: 294px) {
    .ticketListingCard {
        width: 210px !important;
        display: flex;
        justify-content: center;
    }

    .card-columns {
        column-count: 1 !important;
    }


}



.sellButton{
    display: flex;
    justify-items: center;
    padding-top: 10px;
   font-family: 'Exo 2', sans-serif;
}

/* .listingHeader{

    display: flex;
    justify-content: center;
   font-family: 'Rubik', sans-serif;
   font-weight: bolder;
} */

.profileHeader{
    display: flex;
    justify-content: center;
   font-family: 'Exo 2', sans-serif;
}



button {
    margin: 5px !important;

}

.buttonDiv{
    display: flex;
    justify-content: flex-start;

}

.sortdiv {
    display: flex;
    justify-content: center;
    /* transform: translateY(-44px); */
    padding: 20px;
    align-items: center;

}


.listingpagebutton{
    background-color: #041E42 !important;
    display: flex;
    justify-content: center;
}

