@import url("https://fonts.googleapis.com/css?family=Exo+2:400");

body {
   font-family: 'Exo 2', sans-serif;
}

.listingcard {
    padding-left: 30px;
    padding-right: 30px;
}


.ticketListingCard{
    display: flex;
    justify-content: center;
    width: 400px;
   font-family: 'Exo 2', sans-serif;
}

@media (min-width:260px) {
    .ticketListingCard {
        width: 200px;
    }
}

@media (min-width:400px) {
    .ticketListingCard {
        width: 300px;
        display: flex;
    justify-content: center;
    }
}

@media (min-width: 50px ) {
    .ticketListingCard {
        width: 250px;
    }
}


.sellButton{
    display: flex;
    justify-items: center;
    padding-top: 10px;
   font-family: 'Exo 2', sans-serif;
}

.listingHeader{

    display: flex;
    justify-content: center;
   font-family: 'Exo 2', sans-serif;
   font-weight: bolder;
}

.profileHeader{
    display: flex;
    justify-content: center;
   font-family: 'Exo 2', sans-serif;
}



button {
    margin: 5px !important;

}

.buttonDiv{
    display: flex;
    justify-content: flex-start;

}

.sortdiv {
    display: flex;
    justify-content: center;
    transform: translateY(-44px);

}