/* @import url("https://fonts.googleapis.com/css?family=Rubik");
 */



.navlogo {
    font-family: 'Exo 2', sans-serif;
  font-size: 60rem;
}

/* .navItem {
    font-family: 'Exo 2', sans-serif;
    font-size: 50rem;
} */


.mynavbar{
  padding-bottom: 10px;
  /* z-index: 0; */
  background-color: #FCB514;


}

.navbar-toggler{
  color: #041E42 !important;
  border-color: #041E42 !important;
}



.nav-item:hover{
  background-color: whitesmoke;
}

.Logoutbtn{
  background-color: #041E42 !important;
}